.container-bottom{
    display: flex;
    flex-direction: row;
}

.container-bottom button{
    margin-right: 30px;
}

.d-grey a{
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
       
    color: #133C55;
}